.help {
  margin-bottom: 39px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 54px;
    max-width: 51%;
    align-self: start;

    @include tablet {
      max-width: 70%;
    }

    @include mobile {
      max-width: 100%;
      font-size: 28px;
      line-height: 42px;
    }
  }

  &__content {
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding: 45px 42px 0px;
    flex: 1 1 30%;
    max-width: 32%;
    min-height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;

    @include desktop {
      &:hover {
        background-color: var(--color-red);
        color: var(--color-white);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      &:hover > .help__btn {
        background-color: var(--color-white);
        transition: background-color 0.2s ease-in-out;

        //&::after {
        //  content: '';
        //  position: absolute;
        //  top: -10px;
        //  left: -7px;
        //  z-index: -1;
        //  width: 64px;
        //  height: 64px;
        //  background: rgba(221, 44, 0, 0.24);
        //  filter: blur(34px);
        //}
      }

      &:hover path {
        fill: var(--color-red);
        transition: fill 0.2s ease-in-out;
      }
    }

    @include tablet {
      padding: 30px;
    }

    @include mobile {
      max-width: 100%;
      width: 70%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: -4px;
      z-index: -1;
      width: calc(100% + 11px);
      height: calc(100% + 3px);
      background: rgba(223, 223, 223, 0.5);
      filter: blur(24px);
    }
  }

  &__item-title {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;

    @include tablet {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__btn {
    position: relative;
    width: 64px;
    height: 48px;
    transform: translateY(50%);
    z-index: 10;
    transition: background-color 0.2s ease-in-out;

    & path {
      transition: fill 0.2s ease-in-out;
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: -7px;
    //  left: -10px;
    //  z-index: -1;
    //  width: 64px;
    //  height: 64px;
    //  background: rgba(223, 223, 223, 0.7);
    //  filter: blur(24px);
    //}

    @include tablet {
      transform: translateY(100%);
    }
  }

  &__more-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-red);

    &::after {
      margin-left: 20px;
      content: url("../img/arrow_down.svg");
      display: inline-block;
      transform: rotate(-90deg);
    }
  }
}
