<section class="facilities">
  <div class="container facilities__container">
    <div class="name facilities__name">
      Our Facilities
    </div>
    <h2 class="title facilities__title">
      All facilities are designed to meet all your needs
    </h2>
    <div class="facilities__content">
      <ul class="facilities__list">
        <li class="facilities__list-item">
          <label class="custom-checkbox-primary">
            <input type="radio" class="custom-checkbox-primary__input" name="facilities" value="parking-area">
            <span class="custom-checkbox-primary__value">
              Spacious parking area
            </span>
          </label>
        </li>
        <li class="facilities__list-item">
          <label class="custom-checkbox-primary">
            <input type="radio" class="custom-checkbox-primary__input" name="facilities" value="spaces">
            <span class="custom-checkbox-primary__value">
              Comfortable spaces
            </span>
          </label>
        </li>
        <li class="facilities__list-item">
          <label class="custom-checkbox-primary">
            <input type="radio" class="custom-checkbox-primary__input" checked name="facilities" value="cafe">
            <span class="custom-checkbox-primary__value">
              Cozy cafe
            </span>
          </label>
        </li>
        <li class="facilities__list-item">
          <label class="custom-checkbox-primary">
            <input type="radio" class="custom-checkbox-primary__input" name="facilities" value="child">
            <span class="custom-checkbox-primary__value">
              Child playground
            </span>
          </label>
        </li>
        <li class="facilities__list-item">
          <label class="custom-checkbox-primary">
            <input type="radio" class="custom-checkbox-primary__input" name="facilities" value="outdoor">
            <span class="custom-checkbox-primary__value">
              Outdoor spaces
            </span>
          </label>
        </li>
      </ul>
      <div class="facilities__picture">
        <img src="img/facilities_pic.png" alt="facilities">
      </div>
    </div>
  </div>
</section>
