<section class="gallery">
  <div class="container gallery__container">
    <div class="gallery__header">
      <div class="name gallery__name">
        Frispes gallery
      </div>
      <h2 class="title gallery__title">
        Immersive beautiful <br> co-working space gallery
      </h2>
      <div class="gallery__btns-block">
        <button class="swiper-button-prev swiper-button-prev--2"></button>
        <button class="swiper-button-next swiper-button-next--2"></button>
      </div>
    </div>
    <div class="swiper-container swiper-container--2">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery__slide gallery__slide--first">
          <picture>
            <img src="img/gallery_slide_1.jpg" alt="slide1">
          </picture>
        </div>
        <div class="swiper-slide gallery__slide">
          <img src="img/gallery_slide_2.jpg" alt="slide2">
        </div>
        <div class="swiper-slide gallery__slide">
          <img src="img/gallery_slide_3.jpg" alt="slide3">
        </div>
        <div class="swiper-slide gallery__slide  gallery__slide--last">
          <img src="img/gallery_slide_4.jpg" alt="slide4">
        </div>
      </div>

    </div>
  </div>
</section>
