<section class="hero">
  <div class="container hero__container">
    <p class="name hero__name">
      Introducing
    </p>
    <div class="hero__content">
      <h1 class="hero__title">
        <span>Revolutionary</span> co-working space to realize your innovation
      </h1>
      <p class="hero__text">
        In frispes, we spearhead new initiatives and provide mentorship to a new startup, and help grow their opportunities in key local, regional and global markets
      </p>
    </div>
    <div class="swiper-container swiper-container--0">
     <div class="swiper-wrapper">
       <div class="swiper-slide">
         <picture class="hero__pic">
           <img src="img/hero_pic.png" alt="co-working">
         </picture>
       </div>
       <div class="swiper-slide">
         <picture class="hero__pic">
           <img src="img/hero_pic.png" alt="co-working">
         </picture>
       </div>
       <div class="swiper-slide">
         <picture class="hero__pic">
           <img src="img/hero_pic.png" alt="co-working">
         </picture>
       </div>
       <div class="swiper-slide">
         <picture class="hero__pic">
           <img src="img/hero_pic.png" alt="co-working">
         </picture>
       </div>
     </div>
      <div class="swiper-pagination swiper-pagination--0"></div>
    </div>
  </div>
</section>
