<section class="news">
  <div class="container news__container">
    <div class="news__header">
      <h2 class="title news__title">
        News, events and insights for you
      </h2>
      <a href="" class="more-link news__more-link">
        See more
      </a>
    </div>
    <div class="news__content">
      <a class="news__item news__item--custom block-link" href="#">
        <picture class="news__pic-custom">
          <img src="img/news1.jpg" alt="news 1">
        </picture>
        <div class="news__item-content">
          <h3 class="news__item-custom-title">
            Google I / O 2020 news update
          </h3>
          <p class="news__item-custom-text">
            Out of concern for the health and safety of our developers, employees, and local communities — and in line with recent ...
          </p>
          <div class="news__user-info">
            <picture class="news__user-avatar">
              <img src="img/ava_news.png" alt="user-avatar">
            </picture>
            <div class="news__user-data">
              <span class="news__user-name">
                Sundar pichai
              </span>
              <span class="news__user-profession">
                CEO at Google
              </span>
            </div>
          </div>
        </div>
      </a>
      <a class="news__item block-link" href="#">
        <picture class="news__pic">
          <img src="img/news2.jpg" alt="news2">
        </picture>
        <h3 class="news__item-title">
          Minimal workspace for inspirations
        </h3>
        <p class="news__item-author">
          Anthony Masional
        </p>
      </a>
      <a class="news__item block-link" href="#">
        <picture class="news__pic">
          <img src="img/news3.jpg" alt="news2">
        </picture>
        <h3 class="news__item-title">
          Does productivity increase when working remotely ?
        </h3>
        <p class="news__item-author">
          Franck Martin
        </p>
      </a>
      <a class="news__item block-link" href="#">
        <picture class="news__pic">
          <img src="img/news4.jpg" alt="news2">
        </picture>
        <h3 class="news__item-title">
          Morning routine to boost your mood
        </h3>
        <p class="news__item-author">
          Elizabeth swan
        </p>
      </a>
      <a class="news__item block-link" href="#">
        <picture class="news__pic">
          <img src="img/news5.jpg" alt="news2">
        </picture>
        <h3 class="news__item-title">
          5+ tips to find comfortable co-working space
        </h3>
        <p class="news__item-author">
          Mykola Ilschenko
        </p>
      </a>
    </div>
  </div>
</section>
