<section class="partners">
  <div class="container partners__container">
    <h2 class="title partners__title">
      Who uses Frispes?
    </h2>
    <p class="partners__text">
      Big brands, small bussiness, new startuo and inividuals
    </p>
    <div class="partners__icons-block">
      <picture class="partners__img">
        <img src="img/google.png" alt="google">
      </picture>
      <picture class="partners__img">
        <img src="img/tokopedia.png" alt="tokopedia">
      </picture>
      <picture class="partners__img">
        <img src="img/upwork.png" alt="upwork">
      </picture>
      <picture class="partners__img">
        <img src="img/microsoft.png" alt="microsoft">
      </picture>
      <picture class="partners__img">
        <img src="img/shopify.png" alt="shopify">
      </picture>
      <picture class="partners__img">
        <img src="img/stripe.png" alt="stripe">
      </picture>
    </div>
  </div>
</section>
