<section class="why">
  <div class="container why__container">
    <ul class="why__props">
      <li class="why__item">
        <div class="why__icon why__icon--community"></div>
        <p class="why__item-text">
          500+
          <span>
            Meeting rooms
          </span>
        </p>
      </li>
      <li class="why__item">
        <div class="why__icon why__icon--flag"></div>
        <p class="why__item-text">
          60+
          <span>
            Countries
          </span>
        </p>
      </li>
      <li class="why__item">
        <div class="why__icon why__icon--person"></div>
        <p class="why__item-text">
          5K+
          <span>
            Startup mentors
          </span>
        </p>
      </li>
      <li class="why__item">
        <div class="why__icon why__icon--circus"></div>
        <p class="why__item-text">
          100+
          <span>
              Event spaces
            </span>
        </p>
      </li>
      <li class="why__item">
        <div class="why__icon why__icon--wifi"></div>
        <p class="why__item-text">
          500 Mbps
          <span>
            Internet speed
          </span>
        </p>
      </li>
      <li class="why__item">
        <div class="why__icon why__icon--persons"></div>
        <p class="why__item-text">
          200+
          <span>
            Communities inside
          </span>
        </p>
      </li>
    </ul>
    <div class="why__info">
      <div class="name why__name">
        Why Frispes
      </div>
      <h2 class="title why__title">
        We revolutionize your workspace
      </h2>
      <p class="why__text">
        With a decade of insights and expertise, we're decided to reimagine co-working space, designed to help a new startup grow up and realize their ideas so they can give a positive impacts on many people
      </p>
    </div>
  </div>
</section>
